/*animsiti
img-responsive*/

/* line 81, bootstrap/_scaffolding.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
menu_pad
current_page_item
first_item
bluedot
menu-link
nav_circle
menu_link
projects
container
project-content
col-xs-12
image wrap
project-description
project-type
photo-box
line-divider
social
email
linkedin
dribbble
twitter
row


